<ion-header>
  <ion-toolbar>
    <ion-buttons >
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>detailLivre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-img
    [src]="livreDetail.image"  >
    </ion-img>
  <ion-card-header>
    <ion-card-title >
      Titre: {{livreDetail.titre}}
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <h2>Prix: {{livreDetail.prix}} DT</h2>
    <h2>Description: <br>{{livreDetail.description}}

    </h2>
  </ion-card-content>


  </ion-card>


  </ion-content>
